.loginRegisterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 8px 0 rgba(0, 102, 153, 1), 0 0px 15px 0 rgba(0, 102, 153, .8);
    #loginRegisterContents {
        padding: 2rem;
        .userFormHeader {
            text-align: center;
        }
        #userFormGroup {
            .userInputField {
                display: flex;
                flex-direction: column;
                width: 20rem;
                padding-bottom: 0.5rem;
            }
        }
    }
    .auth-error {
        padding-top: 0.5rem;
        color: red;
    }
}