.loginRegisterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px 0px rgba(170, 51, 204, 1), 0 0 15px 3px rgba(255, 153, 34, .9);
    #loginRegisterContents {
        padding: 2rem;
        .userFormHeader {
            text-align: center;
        }
        #userFormGroup {
            .userInputField {
                display: flex;
                flex-direction: column;
                width: 20rem;
                padding-bottom: 0.5rem;
            }
        }
    }
    .auth-error {
        padding-top: 0.5rem;
        color: red;
    }
}