<div class="loginRegisterContainer">
    <div id="loginRegisterContents">
        <h1 class="userFormHeader">{{formText.headerText}}</h1>
        <form id="userFormGroup" [formGroup]="userForm" (ngSubmit)="onSubmit()" #form="ngForm">
            <div *ngIf="newUser" id="usernameField" class="userInputField">
                <mat-form-field class="" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input
                        type="text"
                        matInput
                        formControlName="usernameFormControl"
                        placeholder="Ex. wixossGuy2891"
                    >
                    <mat-error *ngIf="userForm.controls['usernameFormControl'].hasError('required')">
                        Username is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div id="emailField" class="userInputField">
                <mat-form-field class="" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input
                        type="email"
                        matInput
                        formControlName="emailFormControl"
                        placeholder="Ex. pat@example.com"
                    >
                    <mat-error *ngIf="userForm.controls['emailFormControl'].hasError('email') && !userForm.controls['emailFormControl'].hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['emailFormControl'].hasError('required')">
                        Email is required
                    </mat-error>
                    </mat-form-field>
            </div>
            <div *ngIf="!forgotPassword" id="passwordField" class="userInputField">
                <mat-form-field class="" appearance="fill">
                    <mat-label>Password</mat-label>
                    <!--(change)="userForm.controls['confirmPasswordFormControl'].updateValueAndValidity()"-->
                    <input 
                        type="password"
                        matInput
                        formControlName="passwordFormControl"
                        (change)="onPasswordChange()"
                    >
                    <mat-error *ngIf="userForm.controls['passwordFormControl'].hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="newUser" id="confirmPasswordField" class="userInputField">
                <mat-form-field class="" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input
                        type="password"
                        matInput
                        formControlName="confirmPasswordFormControl"
                    >
                    <mat-error *ngIf="userForm.controls['confirmPasswordFormControl'].hasError('notMatchingPasswords') && 
                                !userForm.controls['confirmPasswordFormControl'].hasError('required')">
                        Passwords do not match
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['confirmPasswordFormControl'].hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>
            </div>
            <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="userForm.invalid"
            >
                {{formText.submitButtonText}}
            </button>
            <div *ngIf="getAuthErrorStatus()" class="auth-error">{{getAuthErrorMsg(authError.status)}}</div>
        </form>

        <div class="formHelperText">
            {{formText.formHelperText}} 
            <button
                mat-button
                color="primary"
                (click)="getRedirectLocation()"
            >
                {{formText.redirectText}}
            </button>
        </div>
        <div *ngIf="signIn">Forgot your password? 
            <button
                mat-button
                color="primary)"
                (click)="goToForgotPassword()"
            >
                Password reset
            </button>
        </div>
    </div>
</div>
