.deckContainer {
    #lrigDeckContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #mainDeckContainer {
        .mainDeckSection {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
