<mat-card class="card" [title]="card.name">
    <img
        mat-card-image
        [src]="cardImgPathTEMP"
        alt="Card alt text TODO"
        id="cardImage"
        class="no-margin"
        [class]="cardTypeClass"
    >
    <div id="cardInfo" [class]="cardTypeClass">
        <mat-card-title class="mat-card-title no-margin">
            {{card.name}}
        </mat-card-title>
        <mat-card-subtitle *ngIf="amount" class="no-margin">
            Amount: {{amount}}
        </mat-card-subtitle>
    </div>
</mat-card>