.deckViewPageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .deckView {
        
    }


    // .column {
    //     display: flex;
    //     flex-direction: column;
    //     //flex-basis: 100%;
    //     flex: 1;
    // }
}