<p>
    wixoss-decks component will hold a paginated grid of decks. Filter should be an option.
    the input datasource should be refined appropriately prior to reaching this component.
    If it is for viewing the user's own decks, it should only be passed their decks from the start.
</p>

<div>
    Above the table would be a basic filter: color(s) up to 3, main lrig?, search by deck name, contains card name (keywords separated by |)
    <br>Section -> for loop for the decks, a table/grid of mat-cards.
    <br>at the bottom would be a pagination bar
</div>

<br>
<br>
<br>
<br>
<wixoss-deck>
</wixoss-deck>