html {
    height: 100%;
    body {
        background-color: #ffffdd; //figure out light mode vs darkmode
        height: 100%;
        margin: 0;
    }
    /* Required to make it so the container below the navbar is filling the content page */
    app-root {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}