<div id="cardDialogContainer">
    <mat-dialog-content>
        <div id="leftCol">
            <img
            [src]="cardImgPathTEMP"
            alt="Card alt text TODO"
            id="cardImageDialog"
            [class]="cardTypeClass"
            >
        </div>
        <div id="rightCol">
            <h1>{{card.name}}</h1>
            <h3>{{card.id}}</h3>
            <hr>
            <table>
                <tr *ngFor="let cardInfo of cardInfoRows" class="tableRow">
                    <th class="tableHeader">{{cardInfo.header | titlecase}}</th>
                    <td><span class="tableDataSpan">{{cardInfo.data}}</span></td>
                </tr>
            </table>
        </div>
    </mat-dialog-content>
</div>
