<mat-card class="card">
    <img
        mat-card-image
        [src]="cardImgPathTEMP"
        alt="Card alt text TODO"
        id="cardImage"
        class="no-margin deckImage"
        >
    <div class="deckInfo">
        <mat-card-title class="mat-card-title no-margin">
            <a [routerLink]="['/deck', deckMetaData.id]">
                {{deckMetaData.deckName}}
            </a>
        </mat-card-title>
        <p *ngIf="deckMetaData.wixossUser; else elseBlock">Owner: <a [routerLink]="['/user', deckMetaData.wixossUser.id]">{{deckMetaData.wixossUser.username}}</a></p>
        <ng-template #elseBlock>
            <p >Owner: Unknown</p>
        </ng-template>
        <p>Views: {{deckMetaData.views}}</p>
    </div>
</mat-card>
